<html>
<body>

<table id="myTable" border="1">
<tr>

</tr>
</table><br>

<button onclick="myCreateFunction()">Crear</button>
<button onclick="myDeleteFunction()">Borrar</button>

<script>
function myCreateFunction()
{
var table = document.getElementById("myTable");
  {
  var row = table.insertRow(0);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  cell1.innerHTML = "Quiero insertar input text aaqui";
  cell2.innerHTML = "Aqui tambien";
  }
}
function myDeleteFunction()
{
document.getElementById("myTable").deleteRow(0);
}
</script>

</body>
</html>